<h1>Elasticsearch Repo Logs</h1>

<!-- <table class = "table"> <thead> <tr> <th>Logs</th> </tr> </thead> <tbody> <% @logs.each do |log| %> <tr> <td> <p> <%= log.to_hash %> </p></td> </tr> <% end %> </tbody> </table> -->


  <div class="container-fluid">


<div class="row">
  <div class="col-sm-5 chart">
    <h2>Top Categories</h2>
    <%= pie_chart @chart_data, responsive: "true", id: "top_categories", donut:true, label: "doc_count", legend: "bottom", responsive: "true" %>
  </div>

  <div class="col-sm-5 chart">
    <h2>Top Isolated Hostnames</h2>
    <%= bar_chart @chart_data, responsive: "true",id: "top_categories_bar",responsive:"true" %>
  </div>
</div>


<div class="row">
  <div class="col-sm-5 chart">
    <h2>Top Blocked Hostnames</h2>
    <%= column_chart @chart_data, responsive: "true",id: "top_categories_column", responsive: "true" %>
  </div>

  <div class="col-sm-5 chart">
    <h2>Top Blocked Hostnames</h2>
    <%= column_chart @chart_data, responsive: "true",id: "top_categories_copy", responsive: "true" %>
  </div>
</div>

    </div>
