<div class="container-fluid">

  <%# <%= line_chart @isolated.group_by_day(:timestamp).count %>
    <%# <%  Chartkick.options = { colors: ["#63b598", "#ce7d78", "#ea9e70", "#a48a9e", "#c6e1e8"] } %>

      <div class="container chart-area">

        <h1>Elasticsearch Repo Logs</h1>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row">
          <div class="col-lg-4">

            <div class="chart-card">
              <div class="chart">
                <h2>Top Isolated Hostnames</h2>
                <%= bar_chart @chart_1, responsive: "true",id: "top_10_isolated_categories",xtitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="chart-card">
              <div class="chart">
                <h2>Top Isolated Hostnames</h2>
                <%= bar_chart @chart_2, responsive: "true",id: "top_10_isolated_hostnames",xtitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="chart-card">
              <div class="chart">
                <h2>Top Phishing Hostnames</h2>
                <%= column_chart @chart_3, responsive: "true",id: "top_10_phishing_hostnames",xtitle:"Hostnames",ytitle:"Count" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 ">
            <div class="chart-card">
              <div class="chart">
                <h2>Top 10 Blocked Sites</h2>
                <%= pie_chart @chart_4, responsive: "true", id: "top_10_blocked_hostnames", donut:true, label: "doc_count", legend: "bottom", responsive: "true" %>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="chart-card">
              <div class="chart">
                <h2>Top 10 Browsed Sites</h2>
                <%= pie_chart @chart_5, responsive: "true", id: "top_categories", donut:true, label: "doc_count", legend: "bottom", responsive: "true" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 ">
            <div class="chart-card">
              <div class="chart">
                <h2>Top 10 Blocked Categories</h2>
                <%= column_chart @chart_6, responsive: "true",id: "top_categories_column", responsive: "true", xtitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="chart-card">
              <div class="chart">
                <h2>Top 10 Isolated and Allowed Sites</h2>
                <%= column_chart @chart_2, responsive: "true",id: "top_categories_copy", responsive: "true", xtitle:"Count" %>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

     <% console %>
