<div class="container-fluid">

  <% #Chartkick.options = { colors: ["#63b598", "#ce7d78","#318fb5","#ea9e70","#a48a9e","#c26565","#ffd571","#b4caa0", "#b0cac7","#BF5D41"] } %>
    <% Chartkick.options = { colors: [ "#665191", "#905196", "#b85091", "#db5184","#f55a6f", "#ff6d55", "#ff8836", "#ffa600", "#ff8836","#ff6d55"] } %>

      <div class="container-fluid chart-area">

      <div id="input-area">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Time Range</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Last Hour</a>
              <a class="dropdown-item" href="#">Last Day</a>
              <a class="dropdown-item" href="#">Last Week</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Choose Dates</a>
            </div>
          </div>
          <button type="button" class="btn btn-primary">
            <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
              <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
            </svg>
            Refresh
          </button>
        </div>


        <div class="row">
          <div class="col-lg-4">
            <div class="chart-card">
              <h2>Top 10 Isolated Categories</h2>
                <div class="chart">
                <%= bar_chart @chart_1, responsive: "true",id: "top_10_isolated_categories",xtitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="chart-card">
              <h2>Top 10 Allowed Categories </h2>
                <div class="chart">
                <%= bar_chart @chart_2, responsive: "true",id: "top_10_allowed_categories",xtitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="chart-card">
              <h2>Top 10 Login Allowed/Blocked Sites</h2>
              <div class="chart">
                <%= column_chart @chart_3, responsive: "true",id: "top_10_phishing_hostnames",xtitle:"Hostnames",ytitle:"Count" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 ">
            <div class="chart-card">
                <h2>Top 10 Blocked Sites</h2>
                <div class="chart">
                <%= pie_chart @chart_4, responsive: "true", id: "top_10_blocked_hostnames", donut:true, label: "doc_count", legend: "right", responsive: "true" %>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="chart-card">
                <h2>Top 10 Browsed Sites</h2>
              <div class="chart">
                <%= pie_chart @chart_5, responsive: "true", id: "top_10_browsed",  donut:true, label: "doc_count", legend: "left", responsive: "true" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 ">
            <div class="chart-card">
            <h2>Top 10 Blocked Categories</h2>
              <div class="chart">
                <%= column_chart @chart_6, responsive: "true",id: "top_10_blocked_categories", responsive: "true", ytitle:"Count"%>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="chart-card">
              <h2>Top 10 Isolated & Allowed Sites</h2>
              <div class="chart">
                <%= pie_chart @chart_7, responsive: "true",id: "top_10_isolated_allowed_hostnames", label: "doc_count", responsive: "true", legend: "left" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= console %>